* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    height: 60px;
    position: relative;
    z-index: 999;
}

header ul {
    display: flex;
    line-height: 60px;
}

header ul li {
    position: relative;
}

header ul li a {
    border-radius: 7px;
    padding: 4px 12px;
    font-size: 13px;
    color: black;
    margin-right: 7px;
}

header .left {
    float: left;
}

header .left li:hover a {
    color: #4e6ef2;
}

header .right {
    float: right;
}

header .left li:nth-child(1) a {
    margin-left: 10px;
}

header .left li:nth-child(8) .leftSec {
    width: 300px;
    padding: 18px 5px;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 55px;
    right: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 7px 3px #ebebeb;
    visibility: hidden;
}

header .left li:nth-child(8) .leftSec img {
    width: 44px;
    height: 44px;
}

header .left li:nth-child(8) .leftSec li {
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
}

header .left li:nth-child(8) .leftSec li a {
    display: block;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 0 auto;
    border: 1px solid #f1f1f1;
    border-radius: 13px;
}

header .left li:nth-child(8) .leftSec li p {
    margin-top: -13px;
    font-size: 13px;
    width: 52px;
}

header .left li:nth-child(8):hover .leftSec {
    visibility: visible;
}

header .left .leftSec li:hover p {
    color: #4e6ef2;
}

header .left li:nth-child(8) .leftSec .pro {
    color: #9195a3;
    display: inline-block;
    margin: 0 auto;
    font-size: 13px;
    height: 35px;
    margin-top: -30px;
}

header .left li:nth-child(8) .leftSec .pro:hover {
    color: #4e6ef2;
    cursor: pointer;
}

header .right li:nth-child(2) a {
    background: #4e6ef2;
    color: white;
    margin: 0 30px 0 13px
}

header .right li:nth-child(2):hover a {
    background: #315efb;
}

header .right li:nth-child(1) .rightSec {
    position: absolute;
    top: 50px;
    left: -20px;
    display: flex;
    flex-direction: column;
    width: 84px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 3px #ebebeb;
    display: none;
}

header .right li:nth-child(1) .rightSec li {
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
}

header .right li:nth-child(1):hover .rightSec {
    display: block;
}

header .right li:nth-child(1):hover a {
    color: #4e6ef2;
}

header .right li:nth-child(1) .rightSec li:hover {
    color: #4e6ef2;
    cursor: pointer;
}

main{
    position: relative;
    z-index: 1;
}
main .logo,
.search {
    margin: 0 auto;
    width: 654px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1000;
}

main .logo img {
    width: 270px;
    height: 129px;
    display: block;
    margin: 0 auto;
    padding-right: 50px;
}

main .search input[type="text"] {
    width: 480px;
    height: 16px;
    padding: 12px 16px;
    outline: 0;
    border: 2px solid #a7aab5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 15px;
    position: relative;
    z-index: 0;
}

main .search input[type="text"]:hover {
    border: 2px solid #c4c7ce;
}

main .search input[type="text"]:focus {
    border: 2px solid #4e6ef2;
}

main .search input[type="button"] {
    width: 109px;
    height: 44px;
    background: #4e6ef2;
    color: white;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -7px;
    vertical-align: bottom;
    position: relative;
    z-index: 1;
}

main .search input[type="button"]:hover {
    background-color: #4662d9;
    cursor: pointer;
}

main .search .photo {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(./images/nicon-10750f3f7d.png) no-repeat -2px -46px;
    position: absolute;
    bottom: 10px;
    right: 143px;
}

main .search .photo:hover {
    background: url(./images/nicon-10750f3f7d.png) no-repeat -2px -70px;
    cursor: pointer;
}

main .search .photoHover {
    display: none;
    position: absolute;
    bottom: -50px;
    right: 0;
    background: white;
    border-radius: 5px;
    font-size: 14px;
    width: 75px;
    padding: 5px 10px;
    text-align: center;
    color: #6f7380;
    box-shadow: 0px 0px 7px 3px #ebebeb;
}

main .search .photo:hover .photoHover {
    display: block;
}

main .title {
    padding-top: 30px;
    width: 624px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

main .title .hotSearch:hover,
main .title .change:hover {
    color: #315efb;
    cursor: pointer;
}

main .title .change {
    color: #959caa;
    font-size: 14px;
}

main .title .change i {
    margin-right: 5px;
}

main .news {
    width: 624px;
    margin: 0 auto;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}

main .news li {
    width: 312px;
    padding-top: 15px;
}

main .news li .num {
    margin-right: 10px;
    color: #959caa;
}

main .news li:nth-child(1) .num {
    color: #fe6976;
}

main .news li:nth-child(3) .num {
    color: #ff7514;
}

main .news li:nth-child(5) .num {
    color: #fbb63f;
}

main .news li .hot,
.new {
    margin-left: 7px;
    background: #ff6600;
    width: 18px;
    height: 16px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}

main .news li .new {
    background: #ff455b;
}

main .news li a {
    color: black;
}

main .news li a:hover {
    text-decoration: underline;
    color: #315efb;
}

.code {
    position: fixed;
    right: 20px;
    bottom: 70px;
    border-radius: 50%;
    background: url(./images/qrcode@2x-daf987ad02.png) no-repeat 50%;
    background-size: 33px;
    width: 44px;
    height: 44px;
}

.code:hover {
    background: url(./images/qrcode-hover@2x-f9b106a848.png) no-repeat 50%;
    background-size: 33px;
    box-shadow: 0px 0px 5px 1px #ebebeb;
}

.code .codeSec {
    visibility: hidden;
    position: absolute;
    right: 55px;
    bottom: 0;
    background: white;
    width: 255px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 7px 1px #ebebeb;
}

.code:hover .codeSec {
    visibility: initial;
}

.code .codeSec img {
    width: 75px;
    height: 75px;
}

.code .codeSec .char {
    margin: auto 0;
    font-size: 14px;
    color: #9396a4;
}

.code .codeSec .char p:nth-child(1),
.code .codeSec .char p:nth-child(1) i {
    font-size: 18px;
    color: black;
}

.code .codeSec .char p {
    margin-bottom: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 1226px;
    height: 40px;
    background: white;
}

footer .foot {
    display: flex;
    font-size: 12px;
    justify-content: center;
    line-height: 40px;
}

footer .foot li {
    margin-right: 15px;
    color: #c3c3c3;
}

footer .foot li:not(:nth-child(7)):hover {
    color: black;
    cursor: pointer;
}